





.plan{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -10px;
    padding: 20px 30px 15px 1px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
}
.plan1{
border: 1px solid hsl(231, 11%, 63%);
padding: 20px 30px 15px 15px;
width: 80px;
height: 120px;
border-radius: 5px;
}
.plan2{
    border: 1px solid hsl(231, 11%, 63%);
    padding: 20px 30px 15px 15px;
    width: 80px;
    height: 120px;
    border-radius: 5px;
}
.plan3{
    border: 1px solid hsl(231, 11%, 63%);
    padding: 20px 30px 15px 15px;
    width: 80px;
    height: 120px;
    border-radius: 5px;
}

.planimg{
    scale:0.8;
    margin-left: -6px;
}
.planname{
    margin-top: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: hsl(213, 96%, 18%);

}
.planprice{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: hsl(231, 11%, 63%);
    font-size: 13px;
}

  .active-plan {
    border: 2px solid #174a89;
    background-color: #f0f6ff;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  .free-label {
    color: hsl(213, 96%, 18%);
    font-family:"Ubuntu", sans-serif;
    font-size: 0.75rem;
    margin-top: 4px;
    font-weight: 500;
  }
  

.toggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 12px;
    margin-top: 20px;
    margin-right: 40px;
    color: hsl(240, 2%, 59%);
    background-color: hsla(240, 10%, 86%, 0.192);
    border: 1px solid transparent;
    border-radius: 10px;
    width: 440px;
    height: 30px;
}
.toggle1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 13px;
}
.toggle2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 13px;
}
.realtog{
    color:hsl(213, 96%, 18%);
    margin-top: -10px;
}
.active-toggle {
    color: hsl(213, 96%, 18%);
    font-weight: bold;  
  }
 
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    margin-top: 50px;
    margin-right: 40px;
    width: 440px;
    height: 30px;
}


.nextstep2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 96%, 18%);
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 13px;
    width: 110px;
    height: 40px;
    margin-top: -12px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nextstep2:hover{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}
.goback{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: white;
    color: hsl(240, 2%, 59%);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: 110px;
    height: 40px;
    margin-top: -12px;
    margin-left: -10px;
    cursor: pointer;
}











@media only screen
and (min-width: 320px)
and (max-width: 658px)
 {
    .plan{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: -10px;
        margin-top: -20px;
        padding: 20px 30px 15px 1px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 15px;
        border-radius: 10px;
    }

    .nextstep2{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(213, 96%, 18%);
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 13px;
        width: 110px;
        height: 40px;
        margin-top: 20px;
        margin-right: 175px;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .planbody{
        display: block;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        margin-top: -28px;
    }
    .plan1{
        border: 1px solid hsl(231, 11%, 63%);
        padding: 20px 30px 15px 15px;
        width: 200px;
        margin-left: 5px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        }
        .plan2{
            border: 1px solid hsl(231, 11%, 63%);
            padding: 20px 30px 15px 15px;
            width: 200px;
            margin-left: 5px;
            margin-top: 10px;
            height: 30px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            }
            .plan3{
                border: 1px solid hsl(231, 11%, 63%);
                padding: 20px 30px 15px 15px;
                width: 200px;
                margin-left: 5px;
                margin-top: 10px;
                height: 30px;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                }
        .planimg{
            scale:1;
            margin-left: -6px;
        }
        .toggle{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 12px;
            margin-top: -5px;
            margin-left: -5px;
            color: hsl(240, 2%, 59%);
            background-color: hsla(240, 10%, 86%, 0.192);
            border: 1px solid transparent;
            border-radius: 10px;
            width: 250px;
            height: 30px;
        }
        .free-label {
            color: hsl(213, 96%, 18%);
            font-family:"Ubuntu", sans-serif;
            font-size: 0.65rem;
            margin-top: 20px;
            margin-left: 14px;
            font-weight: 500;
          }
 } 
